[2015-02-15 17:51] oscar-broman opened #1 "Make it compile on Windows"

[2015-02-15 17:54] oscar-broman commented on #1
@Zeex do you have an official release of your CMake scripts? May I use the ones used in your plugins?

[2015-02-16 15:17] Zeex commented on #1
Yeah, sure. I also put them all in this repo: https://github.com/Zeex/cmake-modules

[2015-02-17 09:31] oscar-broman opened #2 "Issues with SpawnForWorld"
See: oscar-broman/samp-weapon-config/issues/11

Instead of calling `SpawnForWorld`, which also sets player state to `PLAYER_STATE_SPAWNED`, it would be better just to send the spawn RPC.

Perhaps sending sync data with invalid values would be enough to force the ped to be re-created.

[2015-03-18 01:11] Crayder opened #3 "RC2 : Some things are not working."
Needs updated (well, another alternative version needs added).

[2015-05-19 22:54] oscar-broman opened #4 "0.3.7"

[2015-05-19 23:03] oscar-broman commented on #4
@kurta999 why does the TD functions cause crashes?

[2015-05-20 14:27] kurta999 commented on #4
I have one idea:

http://i.stack.imgur.com/LvhTM.png

Try this.

[2015-05-20 23:11] #4 closed

[2015-05-20 23:14] oscar-broman commented on #4
Thanks!

[2015-06-18 22:37] ghost opened #5 "Hi , why did you remove all releases ?"
please man , i need 0.3.7 version
if you don't want to share it here anymore please give me a download link
REALLY important because fall damage and etc. doesn't detect

[2015-06-18 22:40] oscar-broman commented on #5
Compiling on Linux is as easy as `make`.  Not sure about Windows - I don't use it. @Whitetigerswt could you?

[2015-06-18 22:46] amirab commented on #5
@oscar-broman you mean you don't have windows version in your system ?

[2015-06-18 22:47] Whitetigerswt commented on #5
I'll compile one today

[2015-06-19 05:37] Whitetigerswt commented on #5
Make that tomorrow, I had to spend time installing visual studio today, and it took longer than I thought

[2015-06-19 08:53] oscar-broman commented on #5
You could try doing it yourself, @amirab, by opening the solution file in Visual Studio and clicking *Build*.

[2015-06-19 09:07] amirab commented on #5
@oscar-broman i can't because i have Visual Studio 2012 , i can't install 2013 i donno why
if you can make it usable for 2012 you will have my BIG Thanks :+1:
but i need 0.3.7 anyway because damage system is now terrible

!!

[2015-06-19 11:18] oscar-broman commented on #5
Alright. Let's hope the albino tiger sorts it out today.

[2015-06-20 02:40] Whitetigerswt commented on #5
http://1drv.ms/1SxwkEN

[2015-06-20 10:19] amirab commented on #5
i get these :

SA-MP Dedicated Server
----------------------
v0.3.7, (C)2005-2015 SA-MP Team

[14:43:46]
[14:43:46] Server Plugins
[14:43:46] --------------
[14:43:46]  Loading plugin: skywt.dll
[14:43:46] Error: Unknown Windows server version

and this is a picture of some Native Backtrace :

http://upir.ir/khordad94/guest/issues.png

[2015-06-21 17:49] Barnsen opened #6 "Server Crash"
Hello, when a player connect to the server -> Crash.

--------------------------

SA-MP Server: 0.3.7

Exception At Address: 0x00000000 Module: (Unknown)

Registers:

EAX: 0x00000000	EBX: 0x00000000	ECX: 0x0018FEA4	EDX: 0x00000000

ESI: 0x01DBE5A0	EDI: 0x01EAAE08	EBP: 0x0018FE10	ESP: 0x0018FE00

EFLAGS: 0x00010206

Stack:

+0000: 0x02A01A93   0x01DBE5A0   0x01EAAE08   0x01DBE5A0

+0010: 0x753910FF

[2015-06-24 20:49] oscar-broman commented on #5
Could you compile in debug mode?

[2015-06-27 08:07] amirab commented on #5
@oscar-broman actually somebody did before me
here is the output :

[16:25:59]  Loading plugin: SKY
[16:25:59] [debug] Server crashed due to an unknown error
[16:26:01] [debug] Native backtrace:
[16:26:01] [debug] #0 54ce2dfc in UnwindUpVec () from plugins\SKY.DLL
[16:26:01] [debug] #1 54ccd1b0 in subhook_new () from plugins\SKY.DLL
[16:26:01] [debug] #2 54ccfba2 in InstallPreHooks () from plugins

[2015-06-27 15:20] oscar-broman commented on #5
Any idea why subhook is crashing @Zeex?

[2015-06-27 16:09] Zeex commented on #5
@amirab Can you show the stack trace from Visual Studio (by running the server under VS debugger)?

[2015-06-27 16:29] Zeex commented on #5
Actually, nevermind @amirab, I've found the location:

https://github.com/oscar-broman/SKY/blob/master/lib/subhook/subhook_x86.c#L234

So it seems that `CAddress::FUNC_GetPacketID` passed to `subhook_new` in `InstallPreHooks` as `src` was pointing to non-writable memory, most likely being `NULL` looking at its usages. I guess it couldn't find the pattern?

[2015-07-01 23:14] Yiin- commented on #5
It only happens if another plugin subhook that function (e.g. YSF).

[2015-07-02 10:59] oscar-broman commented on #5
Oh. Does it work on Linux with YSF and SKY?

[2015-07-02 17:54] amirab commented on #5
@oscar-broman @Whitetigerswt
this is my plugin list :
sky1.dll streamer.dll sscanf.dll  mysql.dll MapAndreas.dll

you think which of them subhook that function ? ?

[2015-07-02 17:58] oscar-broman commented on #5
None of them hooks that function.

Are you sure you don't have a RC test version?

[2015-07-02 18:08] amirab commented on #5
i'm using samp 0.3.7 r1 not RC
and using @Whitetigerswt 's compiled SKY version

this is top of server log :

SA-MP Dedicated Server
----------------------
v0.3.7, (C)2005-2015 SA-MP Team

[22:32:20]
[22:32:20] Server Plugins
[22:32:20] --------------
[22:32:20]  Loading plugin: sky.dll
[22:32:20] Error: Unknown Windows server version

i mean it says Unknown Windows server version

why ? i don't k

[2015-07-05 19:40] Xeonmeister opened #7 "Am i the only one who don't know this?"
My question is: How to use this? I downloaded "weapon-config" which requires this plugin. So i downloaded the plugin and I only see a couple of files without any instruction that tells me what to do. I'm so confused. I tryed to find something to make it work, but noone has written about it yet. I know that it's so stupid, but I don't know how to make it work.

[2015-07-05 23:11] oscar-broman commented on #7
Are you on Linux or Windows?

[2015-07-06 08:24] amirab commented on #5
@oscar-broman So dude , what happened my server's using this

[2015-07-06 14:01] Xeonmeister commented on #7
Windows

[2015-07-19 10:46] PatchwerkQWER opened #8 "Makefile problem"
Hi, I have problem with compile this plugin on Debian 7.0 x64

Problem: http://prntscr.com/7uf6ux

Thanks for your help :)

[2015-07-19 13:19] oscar-broman commented on #8
Try running `sudo apt-get install build-essential`, then compile.

[2015-07-19 14:23] PatchwerkQWER commented on #8
Thanks, Now it works.

[2015-07-19 14:23] #8 closed

[2015-09-30 18:49] banksSAMP opened #9 "Plugin not loading correctly?"
So I'm starting up a dm server for myself(and a couple of friends) and I felt that your damage system is a must-have. I downloaded & installed the include aswell as the SKY plugin, but when I compiled my gamemode it gave me this error:
C:\Users\John\Desktop\sampskit\APGW_admintest\pawno\include\weapon-config.inc(62) : fatal error 111: user error: The SKY plugin is required, get it here: github.com

[2015-09-30 18:51] oscar-broman commented on #9
Hey,
This release works: https://github.com/oscar-broman/SKY/releases

There are a few minor fixes I didn't push to Git just yet (I forgot), that's why you couldn't compile it properly for the latest version.

[2015-09-30 19:28] banksSAMP commented on #9
Damn. Amazing response time, I compiled the new dll and the original problem seemed to have been fixed , I get the following in the console when I boot up the server:
"Loading plugin: SKY"
"Loaded."
However when I add in the weapon-config(#include <weapon-config>)
It just gives me the same ol'
"The SKY plugin is required, get it here:" error even though I know its there. :S

Banks

[2015-09-30 19:29] oscar-broman commented on #9
How about this response time?

You need to put `SKY.inc` among your include files.

[2015-09-30 19:35] banksSAMP commented on #9
Haha 2fast4me man! :D
Slowly getting there,  the following pops up when I compile my gamemode:
http://pastebin.com/74rmaa2p

[2015-09-30 20:03] oscar-broman commented on #9
Update your include files.

Create issues on oscar-broman/samp-weapon-config if you need further help.

[2015-09-30 20:03] #9 closed

[2015-10-09 06:12] JernejL opened #10 "Hooks.cpp player hooking.. setting keys after the packet went thru"
if possible, i would like to adapt this plugin to produce some kind of "setplayerkeys" functionality to desync key input depending on script's wishes (inside gamemode's onplayerupdate).

The main problem i have right now is, the current functionality in hooks.cpp can do it it when the packet arrives, but i need to do it after the packet is in sa-mp.

My pathetic and failed attempt was to do the fo

[2015-10-09 08:08] oscar-broman commented on #10
I think this could be done by returning 0 in OnPlayerUpdate, then using `SendLastSyncData`. You'd need to add a native function to modify keys in the stored sync data (just like `SetLastAnimationData` does for the anim).

[2015-10-09 09:46] JernejL commented on #10
That will send the data to players tho, and require a bit complex logic and overhead for implementing things like totally manual per-player player updates and that is really inconvinient.. a far better method would be a type of simple setplayerkeys reverse method to somehow alter sa-mp internal data before it's sent out.

[2015-10-09 11:40] oscar-broman commented on #10
Oh so you want to cancel only key updates?

[2015-10-09 15:44] JernejL commented on #10
yeah pretty much.. it's to prevent vehicle-bound weapons from firing into "protected" (spawn) areas, basically.. to nullify the keys sent to players incase the player is not allowed to do so.

[2015-10-09 19:20] oscar-broman commented on #10
Ah alright. `SendLastSyncData` is for onfoot sync data, so that won't work. I don't remember exactly how it works, but I think the sync data isn't copied to `pNetGame->pPlayerPool->pPlayer` until after `OnPlayerUpdate` has finished, so modifying won't do anything.

You could add a callback that's triggered in the `GetPacketID` hook in hooks.cpp, but it would add some more weight to each player upd

[2015-10-12 07:20] JernejL commented on #10
I can work with that, and also give it really good testing (including data about performance impact of it on the server) so whenever you can give me this to test - i will test it.

[2015-10-12 07:36] JernejL commented on #10
I mean, the SetDisabledKeys option.

[2015-10-13 11:23] JernejL commented on #10
Wouldn't this also work theoretically thru SetKeySyncBlocked?

[2015-10-13 11:24] oscar-broman commented on #10
Yeah but you don't always want to block all keys.

I suppose a really simple way to do this is change `SetKeySyncBlocked` to do `SetDisabledKeys(playerid, -1)` then change the key sync logic to do `& ~blockedKeys[playerid]`.

[2015-10-13 11:26] oscar-broman commented on #10
I mean, blocking all keys will cause things like braking and honking to lose sync while in a vehicle.

[2015-10-21 18:25] JernejL commented on #10
I did some tests.. apparently my HOOK_GetPacketID is never called. tests done on windows.

version = 0x0048c8d0

FUNC_GetPacketID =							FindPattern("\x8B\x44\x24\x04\x85\xC0\x75\x03\x0C\xFF\xC3", "xxxxxxx???x");

printf(" %08x", FUNC_GetPacketID);

results:

FUNC_GetPacketID = 0x0048dbb0

it's never called.. i verified it - how do i debug this?

[2015-10-21 18:26] oscar-broman commented on #10
The address is for an old version. I fixed it on the Windows DLL published at releases, but never got around to pushing the code changes. I'll do it when I'm back home (where my PC is), but I'm not sure when that will be.
Have a look at YSF for the correct address.

[2015-10-22 08:31] JernejL commented on #10
The address in kurta's YSF version is found with same method as this one.

https://github.com/kurta999/YSF/blob/5938cb319f5542aa148a098931f670efd829349e/src/Addresses.cpp#L67

The address is found as FUNC_GetPacketID = 0x0048dbb0 yet the hook is never called (i tried several ways to debug it)

[2015-10-22 13:06] oscar-broman commented on #10
The server version is detected as unknown, which disables most things. I pushed an update with the new address (new meaning 3 months ago).

[2015-10-23 08:28] JernejL commented on #10
I have removed the unknown version checks, since it didn't appear to affect how addresses are searched, so i just set it as a "generic version" so that things get called.

Anyways, the HOOK_GetPacketID is called, but it crashes when getting packetid:

packet pointer = 0x05e32a60
GetPacketID_hook = 00702a60

crash here:
BYTE packetId = ((FUNC_GetPacketID)subhook_get_trampoline(GetPacketID_hook))(p)

[2015-10-23 08:42] oscar-broman commented on #10
Oh, yeah, maybe @Zeex knows. I noticed the trampoline functionality of subhook is buggy on Windows.
In the fixed code (which unfortunately I don't have access to) I removed the trampoline and used subhook uninstall then install  It's explained in the subhook repo.

[2015-10-29 09:21] JernejL commented on #10
I will wait for the commit fix.

[2015-11-10 11:29] oscar-broman commented on #10
It should work just fine on Windows now.

[2017-01-17 01:29] NelsonZG opened #11 "Amazing... few problems"
It's very good and it's working but I have 2 problems! When cheater has HH on and jump from building his HP won't change. When players shoot beatween them sometimes crash occures. Something like bullet crasher as thay described but we have protection for it. And we see some errors in server_log.txt So if someone could help we would be greatefull!

Altrought script saved our asses! Fuck cheaters th

[2017-01-23 20:38] milan4566 opened #12 "Help SKY plugin"
I have one problem, please help.

I need SKY.so plugin. I download https://github.com/oscar-broman/SKY but no .so plugin

My server work in linux and need SKY.so not SKY.dll

please compile to .so file and send link

I need it for weapon config https://github.com/oscar-broman/samp-weapon-config

works great on windows with SKY.dll

Thanks..

[2017-01-23 20:43] Jeroen52 commented on #12
What Linux distro are you using?

[2017-01-23 21:41] milan4566 commented on #12
Debian 6.0 x86 on the machine VPS

[2017-01-23 21:59] Jeroen52 commented on #12
I recommend you to upgrade your distro to 8.0 as 6.0 is already EOL.

More information here: https://wiki.debian.org/DebianSqueeze

[2017-01-23 22:29] milan4566 commented on #12
In my personal PC is windows, but my VPS use debian 6.0 x86.
I need .so  not .dll

[2017-01-23 22:32] Jeroen52 commented on #12
I am aware, however I recommend you to upgrade to Debian 8.0 as Debian 6.0 is EOL and won't receive security updates.

[2017-01-24 00:08] Jeroen52 commented on #12
I don't think that you get how important it is for you to upgrade immediately.

Debian 6.0 does no longer receive any updates, it is out of Long Term Support. It has reached the End of Life. And it has been in End of Life since February 29th 2016.
Nearly 11 months without any (security) updates.
Here is a list of security updates, which you have missed most of them if not all. [2017](https://www.d

[2017-01-24 06:44] milan4566 commented on #12
Why my server is unable to read plugin SKY.so
My server log.. http://pastebin.com/6Zsy7PxP
My server cfg.. http://pastebin.com/D0WdaVAc
My include.. http://pastebin.com/88ANeLRZ

I added SKY.inc and weapon-config.inc in folder /pawno/include/, and added SKY.so in folder plugins in my vps.

where real mistake? someone to help?

[2017-01-24 08:08] Jeroen52 commented on #12
Is that all the server log states?

And put the weapon-config include at the bottom of the list of includes,
and SKY above that..
Recompile and test it again.

On Tue, Jan 24, 2017 at 7:44 AM, milan4566 <notifications@github.com> wrote:

[2017-01-24 14:28] milan4566 commented on #12
the same is happening, I can not believe
I put everything and go restart server will not start

all the same in server_log.txt

[2017-12-30 17:41] sky038 opened #13 "0.3.8 doesnt work sky"
can you please update this plugin for samp 0.3.8 everyone waiting on samp forum..

because it wont work with the server on 0.3.8, can anyone tell how to update it?

[2017-12-30 17:45] Jeroen52 commented on #13
It looks like SKY is hooked into the memory address of functions, and I can also see that the address of each SAMP version is in fact different.

If he'd do it for the RC's of 0.3.8 he'd have to do it for every small release.

0.3.8 has not been released yet, just wait until it has been released.

[2018-02-18 19:25] Jeroen52 commented on #13
This really is more of a priority now.

0.3-DL R1 has been released.

[2018-02-18 19:57] Jeroen52 commented on #13
I have given it another try, but I wasn't able to. Can you take a look at it @oscar-broman ?

[2018-03-07 18:21] aminadjk opened #14 "0.3.DL sky? update it.."
waiting, please MAKE IT FOR 0.3.DL???

[2018-03-07 18:21] aminadjk commented on #13
update it, why ignoring this?

[2018-03-09 08:30] Whitetigerswt commented on #13
I had some free time so I did some work. It's not done yet and not sure when I'll have more time to complete it. The majority of work (95%) is done though. just need to sort through some crashes.

[2018-03-09 08:32] oscar-broman commented on #13
Nice one. @sky038 could you test it?

[2018-03-09 16:57] #14 closed

[2018-03-09 17:06] Whitetigerswt commented on #13
I've fixed all problems I noticed with it. Every function is untested, but the hooks are working (which is the majority of the problem when converting to a new version). Give it a test.

Windows: https://www.dropbox.com/s/ej3bzahfkzinnhy/SKY.dll?dl=0
Linux: https://www.dropbox.com/s/opfqgoaztyjrv03/SKY.so?dl=0

or build from the 0.3.DL branch.

[2018-08-07 14:45] sky038 opened #16 "crashing ALL servers with hack"
http://forum.sa-mp.com/showthread.php?t=657420

can YOU GUYS please GIVE .dll and .so and .inc files for 0.3.7-R2?

This is insane! I don't know how to compile them from source and you should fix  this bug , its not acceptable!

[2018-08-13 23:51] lJohhnyl opened #18 "SKY for Linux."
Hi.
When you release **sky.so** for linux?

[2018-09-17 01:21] nickdodd25 opened #19 "Centos 7 Segmentation fault"
When running the newest version on centos 7 i get a segmentation fault. I ran the server using gbd and the log is here.... https://pastebin.com/t5RazKz3

It appears to be a issue with subhooks. I tried updating subhooks to the latest version but i am unable to compile sky. I receive this error.....https://pastebin.com/18DvqWQ3

Stuff like this is still beond my abilitys to fix. Any suggestions on

[2018-09-17 04:56] VariableTM commented on #19
I get this issue on Debian, been unable to compile it recently. It was compiling fine few months ago.

[2018-09-17 05:17] VariableTM commented on #19
However, I have a SKY.so version which I compiled last year (Sep, 2018) on a Debian 8 64-bits machine. If you would like to temporary use it as a fix. It was working flawlessly.

[2018-09-18 03:42] nickdodd25 commented on #19
This has been solved. I chatted with slice on discord and he helped me out with the fixes. I also created a pull request.

[2018-09-18 03:42] #19 closed

[2018-09-30 19:29] Jeroen52 commented on #18
You can try to build it yourself.

This is a build that I've made myself.
https://mirror.jeroendeneef.com/samp/SKY/unstable/abc387ba8a8ee26cf4b6f151968d4389c195ffc6/Linux/

And commenting a "+1" is kinda spammy, use the emoticons on a post.

[2018-10-08 14:06] AmirSavand opened #21 "No sampctl support?"

[2018-10-10 20:42] J0shES commented on #21
Submit a pull request to add it!

[2018-10-12 17:31] Jeroen52 commented on #16
I can't access that thread, what is it about?

[2018-10-12 17:32] oscar-broman commented on #16
He wants it compiled for Linux

[2018-10-12 17:34] Jeroen52 commented on #18
What is not released? The code is here, all that needs to be done is the binaries need to be compiled by the end user.

[2018-10-12 17:39] Jeroen52 commented on #16
I'll see what I can do to release many shared objects.

[2018-10-12 18:34] Jeroen52 commented on #16
Here is the compiled code, each in their own .zip per commit.

I'll sort them out later.
[SKY-dae8562.tar.gz](https://github.com/oscar-broman/SKY/files/2474210/SKY-dae8562.tar.gz)
[SKY-f240f6d.tar.gz](https://github.com/oscar-broman/SKY/files/2474211/SKY-f240f6d.tar.gz)
[SKY-8adbccf.tar.gz](https://github.com/oscar-broman/SKY/files/2474212/SKY-8adbccf.tar.gz)
[SKY-386192c.tar.gz](https://github.co

[2018-10-12 19:04] Jeroen52 commented on #16
[SKY-0732f89.tar.gz](https://github.com/oscar-broman/SKY/files/2474295/SKY-0732f89.tar.gz)
Here is the latest release.

[2018-10-12 23:03] Jeroen52 commented on #16
This is the latest release's direct link. Built on CentOS 6.
https://mirror.jeroendeneef.com/samp/SKY/unstable/0732f89ca4fe84b741e9beda363b87f3bd2f9f59/Linux/CentOS/6/SKY.so

[2018-11-11 00:29] lJohhnyl commented on #18
@Jeroen52 or the creator of plugin is too lazy to make .so for user who don't know how compile that plugin...

[2018-11-11 01:02] AmirSavand commented on #18
Lazy or not, this issue should not be closed when it is not resolved.

[2018-11-11 01:32] Jeroen52 commented on #18
I do agree that linux shared objects should be available for download from
the official page.
But I think that we've reached the point where the author doesn't want or
can't spend time to automate releases for this project; and that most users
are not willing to learn how to compile code on Linux.

Either way, in the meanwhile you can use my binaries.
https://mirror.jeroendeneef.com/samp/SKY/unsta

[2018-11-11 10:40] lJohhnyl commented on #18
Anyway, thank you for the compiled script, @Jeroen52 !

[2019-03-14 02:55] foola1 opened #24 "Struggling to build 0.3DL branch on Centos 7"
I am finding it very hard to compile the 0.3DL branch of this plugin. I get a lot of the errors experienced here and it fails with an Error 1.

[2019-03-14 17:47] foola1 commented on #13
@Whitetigerswt I am unable to build the 0.3DL branch on CentOS 7, what could be possible reason for this? And also will the 0.3DL branch get the updates regarding server crashes seen on the main branch?

[2019-03-14 18:16] Whitetigerswt commented on #13
What errors are you getting when you try to build? I can try to merge the main branch, shouldn't be *too* complex

________________________________
From: foola1 <notifications@github.com>
Sent: Thursday, March 14, 2019 1:47 PM
To: oscar-broman/SKY
Cc: Whitetiger; Mention
Subject: Re: [oscar-broman/SKY] 0.3.8 doesnt work sky (#13)

@Whitetigerswt<https://github.com/Whitetigerswt> I am unable to bui

[2019-03-14 18:22] foola1 commented on #13
These are the errors https://pastebin.com/raw/hTurtm0E

It would be amazing if you can merge the main branch as it had solved an issue regarding with exploits crashing the server.

[2019-03-15 02:37] Whitetigerswt commented on #13
It looks like CentOS's compiler doesn't support C++11 standards, which is something only used in the 0.3DL branch. You should compile on fedora and try running it. I added a dockerfile in the latest commit that does it for you: https://github.com/oscar-broman/SKY/blob/0.3DL/Dockerfile

[2019-03-15 17:26] foola1 commented on #13
Thanks, I've built it just now and tried it on a server running CentOS 7. But it is not working.

[18:23:11] --------------
[18:23:11]  Loading plugin: SKY.so
[18:23:11]   Failed (plugins/SKY.so: undefined symbol: _ZTVNSt7__cxx1118basic_stringstreamIcSt11char_traitsIcESaIcEEE)
[18:23:11]  Loaded 0 plugins.

I've seen the shared object you uploaded last year working on Ubuntu 16 but for some reason

[2019-03-16 00:59] foola1 commented on #13
@Whitetigerswt I also tried using Docker for the first time but I'm stuck.

 ---> Running in 215226abb2fa
ld: warning: cannot find entry symbol _start; not setting start address
ld: SKY.so: undefined reference to `operator new[](unsigned int)'
ld: SKY.so: undefined reference to `std::__cxx11::basic_stringstream<char, std::char_traits<char>, std::allocator<char> >::~basic_stringstream()'
ld: SKY.so

[2019-03-18 15:41] NotNutter commented on #13
@foola1 I've managed to solve this issue and will be making a PR soon. If you want, I can provide you with the shared object created with Ubuntu 14.04.

[2019-06-25 15:32] ahmedh2o1999 opened #27 "Keys don't work in the latest release"
I compiled SKY on my Debian 8 amd64 VPS. Keys don't work (tried KEY_YES, KEY_NO and KEY_CTRL_BACK). Like, the keys can't be scripted. OnPlayerKeyStateChange has no effect.

https://h2omultiplayer.com/server/SKY.so

This is the compiled binary.

[2019-06-28 23:38] leonedeandre commented on #27
Had the same issue. There's a open pull request here https://github.com/oscar-broman/SKY/pull/26/commits fixing that issue i believe

[2019-06-29 07:35] ahmedh2o1999 commented on #27
Indeed, it works fine now.

[2019-06-29 07:35] #27 closed

[2019-07-07 15:26] ADRFranklin commented on #24
Do you still need this? I can compile it for you, if you want?

[2019-07-18 12:00] ADRFranklin commented on #24
You can find the plugin for 0.3DL on the release page now

[2019-07-18 12:00] #24 closed

[2019-07-18 12:00] ADRFranklin commented on #13
This seems to be fixed now, so will close the issue

[2019-07-18 12:00] #13 closed

[2019-07-18 12:01] #12 closed

[2019-07-18 12:02] #11 closed

[2019-07-18 12:02] #10 closed

[2019-07-18 12:02] #7 closed

[2019-07-18 12:03] #5 closed

[2019-07-18 12:03] #3 closed

[2019-07-18 12:03] #2 closed

[2019-07-18 12:03] #1 closed

[2019-07-18 12:10] ADRFranklin opened #29 "Merge 0.3DL into master"
The 0.3DL branch should be merged into master at some point to keep things together.

[2019-07-19 01:24] Whitetigerswt commented on #29
It's based off newer versions of the YSF plugin. It might be better to redo some of it.

[2019-07-19 10:34] ADRFranklin commented on #29
I agree, we should definitely start looking at replacing the old YSF code with newer parts.

A lot of the code that exists in both 0,3.7 and 0.3DL versions have hooks for functions that are not even used in the plugin. They should be removed.

[2019-07-25 16:24] ADRFranklin commented on #29
@Whitetigerswt Could you tell me where you at with the 0.3DL version? Like what was the issue you had when trying to merge the two before?

[2019-07-25 23:05] Whitetigerswt commented on #29
Well, the code in 0.3DL came from YSF, which had many rewritten hooks instead of just using memory addresses. It's not immediately clear by looking at the code how to merge

[2019-08-04 11:43] NexiusTailer opened #30 "TextDrawSetStringForPlayer conflicts with YSF"
TextDrawSetStringForPlayer function conflicts with the same native in YSF

[2019-08-04 11:45] ADRFranklin commented on #30
I have also noticed this, I am currently working on merging 0.3DL so I will remember to change the natives to work with YSF

[2019-08-04 13:20] NexiusTailer opened #31 "FreezeSyncData and SendLastSyncData works only with onfoot sync"
I think it would be nice if these functions could work with all types of player sync and not only with the onfoot type. I understand that these functions (like all other functions in this plugin too) was presented firstly for weapon-config and there can be no need in this abilities for wc, but it can be useful for any other scripts which may use it for different systems.

[2019-08-04 14:30] ADRFranklin commented on #31
I will take this in to consideration at a later point.

[2019-08-04 16:04] ADRFranklin commented on #29
@Whitetigerswt I've re-done the building process for 0.3.DL and docker, it now compiles fine for Linux/Windows using docker, I have also provided a [taskfile](https://taskfile.dev) to make it easier to build for both.

Could you try these out for me and confirm that everything is working for you too? I have not tried building with Visual Studios (I don't like it, personally).

[2019-08-04 16:10] ADRFranklin commented on #29
@Whitetigerswt Actually you might need to wait for https://github.com/maddinat0r/samp-plugin-sdk
to merge my PR

Since I've moved to using submodules more.

[2019-08-04 16:28] ADRFranklin commented on #29
Okay, you can ignore the last message, Maddinat0r merged it.

[2019-08-04 16:33] Whitetigerswt commented on #29
I don't have an easy way to test it. I don't own a server or have SA-MP installed. Most likely, if it doesn't crash 0.3DL server when loaded then it's good since it does most of the hooking at that point.

Last time, I just made sure it didn't crash the server and posted on the forum asking others to try it: https://forum.sa-mp.com/showpost.php?p=4001276&postcount=137

I can compile on Windows/Vis

[2019-08-04 16:48] ADRFranklin commented on #29
I've tested 0.3.DL on each of my servers, all different gamemodes. However I don't own or run any 0.3.DL servers, so I am going to have to find someone who can try it out.

It does work on 0.3.7 servers currently.

[2019-08-04 16:51] ADRFranklin commented on #29
I think Instead of merging with master, I might just replace master with 0.3DL after we confirm it works on both versions of sa-mp. I've updated 0.3.DL version with any changes that where made to master, so it is up to date.

[2019-08-05 01:24] Whitetigerswt commented on #29
I did some updates to visual studio config and setup appveyor to Auto-compile on windows after every commit. I sent a Windows build to Crayder and asked him to post here with what he finds testing.

[2019-08-05 03:25] ADRFranklin commented on #29
Ah, perfect. Should we add travis for Linux builds too? I actually tried before to add both, but wasn't able too, because I am not the owner of the repo.

(atleast that is what the sites told me)
If you know how to get around that, could you try setting up travis?

[2019-08-05 07:53] Crayder commented on #29
0.3.DL version breaks position and health value sync. The bar doesn't track damage and I don't seem to die (only tested fall damage from a building). Position and facing angle always returns the same, the class position and 0 for the angle.

[2019-08-06 08:52] ADRFranklin commented on #29
@Crayder I have fixed the sync issue and I have cleaned up SKY so that all the non-used stuff is gone, I have also used a `hacky` solution from Illidan to load the correct 0.3DL structs at runtime.

Could you test this and make sure it works for you?
[SKY.zip](https://github.com/oscar-broman/SKY/files/3471224/SKY.zip)

[2019-08-06 16:11] ADRFranklin commented on #29
@Whitetigerswt Crayder says everything is working now, so do you want to take a look over the code and make sure you are happy with everything before we decide to merge later?

[2019-08-06 16:13] ADRFranklin commented on #30
I'm debating whether this function should be removed from SKY, since it doesn't have anything to do with the original intentions of SKY. YSF offers this anyway and is probably better suited for it.

Thoughts?

[2019-08-06 17:43] NexiusTailer commented on #30
So there are two ways: rename it for compatibility reasons so people who have used it will continue use it. Or just remove it, so they can use the same function but from YSF. I'm not going to recommend to delete it "just because I didn't use this function before", but I would probably remove it if I were you...

[2019-08-06 17:52] ADRFranklin commented on #30
I'll rename it, and add some backwards compatibility if YSF is not used. Then I will mark it as deprecated, so people are aware, then I will remove it later on.

[2019-08-07 13:47] ADRFranklin commented on #31
Could you give me a couple of example of data you want to be able to re-send / freeze?

[2019-08-07 13:55] ADRFranklin commented on #30
This has been fixed in the latest version of the 0.3DL branch, once it's merged you will see the fix.

[2019-08-07 14:12] NexiusTailer commented on #31
Actually I'm going to use this feature to make more advanced anti-unfreeze system which wouldn't just decync the player (as others will see "sandglass" above his head), I want to resend the last player's data instead, so this player will be freezed literally not being able to ignore it.

So, there are several ways how you can make this function work for all types of synchronizations:
1) Add a new

[2019-08-08 02:56] Whitetigerswt commented on #29
If it's working feel free to merge

[2019-08-08 13:41] ADRFranklin commented on #29
@Whitetigerswt @Crayder Has been merged and a new release has been made

[2019-08-08 13:58] ADRFranklin commented on #31
I will see what I can for the next release. The code needs some work and further improvements to protect it against collisions with YSF and other plugins.

[2019-08-08 13:59] #30 closed

[2019-08-08 20:44] Crayder commented on #29
Sweet 👍

I'll reupload the colored bars pull request soon, seems completely functional.

[2019-08-12 22:14] #29 closed

[2019-08-14 03:45] foola1 opened #32 "build instructions for ubuntu 14.04?"
hello i can't compile the plugin because of the following error:
[code]

i am running g++ (Ubuntu 5.5.0-12ubuntu1~14.04) 5.5.0 20171010

[2019-08-14 11:19] ADRFranklin commented on #32
Why are you trying to build it? Check releases they will work on Ubuntu.

[2019-08-14 11:49] foola1 commented on #32
I tried building it because SKY would not run on 0.3.DL

[code]

[2019-08-14 11:55] ADRFranklin commented on #32
You need `version GLIBCXX_3.4.21` or higher to run the plugin at all, since this is what it was build with

[2019-08-14 11:58] ADRFranklin commented on #32
Could you try the build I made below, it's built statically.

[SKY.zip](https://github.com/oscar-broman/SKY/files/3501215/SKY.zip)

[2019-08-14 12:00] ADRFranklin commented on #32
Btw, Ubuntu 14.04 is no longer supported by Ubuntu, you need to upgrade to 16.04 and then 18.04 at the least so stay updated.

[2019-08-14 12:02] ADRFranklin commented on #32
You'll find Ubuntu 16.04 will have the version of GCLIB you need to run your apps, and if you move to Ubuntu 18.04 you'll be good for almost any plugins.

[2019-08-14 12:02] #32 closed

[2019-09-01 15:56] NotNutter opened #33 "Y/N detection (0.3.DL)"
Hello,
I am trying the SKY binaries on Debian 10 for my 0.3.DL server as I plan to migrate. However, I have found that KEY_NO is not detected as a passenger with SKY. I have also found that the client's health bar does not update when they lose/gain health. The issues are non-existent on older versions of SKY.

The detection of KEY_NO is pretty important for my players so I do not mind testing hot

[2019-09-01 17:24] ADRFranklin commented on #33
The latest version should not have any issues with healthbars or KEY_NO.

Though I do not use the 0.3DL version myself, Crayder sure does and he has confirmed that this all works. So I'm going to need all the information you can give.

[2019-09-01 18:31] NotNutter commented on #33
I am using Debian 10 and using the binaries provided with the lastest release of SKY.

[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/3563792/release-linux.tar.gz)

I have tried my gamemode which uses weapon-config and then I tested a bare script without weapon-config but with SKY where KEY_NO was not detected as a passenger in a vehicle.

I then tried the bare script without SKY

[2019-09-05 18:08] NotNutter commented on #33
I have now been able to recreate this on the windows server using the version on the release page too. I will upload the small testing script I used to re-produce the issues I mention above.

[2019-09-05 18:14] ADRFranklin commented on #33
Okay, great I haven't been able to re-produce this myself right now, so that test script could be what I need to fix it.

[2019-09-05 21:08] NotNutter commented on #33
This is the script I am using to test the isssue. https://gist.github.com/NotNutter/972bc1cdb08eed536ada1487021cf5b3

I have done some further testing to see why the weapon-config healthbar textdraws weren't updating. I found that the healthbar textdraws would update while using an older version of SKY whereas they did not update when I loaded the latest released version of SKY.

I have deployed a

[2019-09-10 21:27] ADRFranklin commented on #33
This is an odd issue, since it seems to only apply to one key and not all keys. I will investigate this issue more over the next couple of days.

[2019-09-11 05:27] NotNutter commented on #33
Have you tried pressing the key as a passenger of a vehicle? I have just tried it and it is not working.

[2019-09-23 19:55] #33 closed

[2019-10-29 13:57] ADRFranklin commented on #31
I will be planning this change next, now that all the 0.3DL stuff has finally been cleaned up.

[2019-11-03 19:35] izrie1 opened #34 "Failed (/lib/libstdc++.so.6: version `GLIBCXX_3.4.21' not found"
I need help on this. Currently using CentOS 7. If you are asking me to use other distros, I can't use other distros (due to this issue: https://forum.sa-mp.com/showthread.php?p=4022160)

[2019-11-03 19:56] Jeroen52 commented on #34
Can you use `yum whatprovides */libstdc++.so.6`?

[2019-11-03 19:56] Jeroen52 commented on #34
A simple Google search indicates that this could also be a possible solution.
https://stackoverflow.com/questions/44205687/glibcxx-3-4-21-not-found-on-centos-7

[2019-11-04 04:29] izrie1 commented on #34
Here what it says.

By the way concerning the possible solution you shared, I have tried it before. It ruined my VPS

[2019-11-04 05:19] Jeroen52 commented on #34
It might be just because it is early but I don't see why it'd ruin the VPS.

Either way, use the following.

`yum -y install libstdc++.i686`

[2019-11-04 07:07] izrie1 commented on #34
[izrie1@arp ~]$ sudo yum -y install libstdc++.i686
[sudo] password for izrie1:
Loaded plugins: fastestmirror

Loading mirror speeds from cached hostfile
epel/x86_64/metalink                                     |  19 kB     00:00
 * base: mirror.checkdomain.de
 * epel: ftp.plusline.net
 * extras: mirror.ratiokontakt.de
 * remi-php72: mirror.23media.com
 * remi-safe: mirror.23media.com
 * updates: l

[2019-11-04 12:40] OriginalNutter commented on #34
I was using CentOS once upon a time, because of the timeout issue, and eventually got SKY working by building it myself. During the process, the correct version of the library was installed.

In the end, I switched over to Debian 10 which was not suffering from the timeout issue.

[2019-11-04 23:13] ADRFranklin commented on #34
I have said this many times, and will continue to say it. Centos might be a stable distro, but I is always so far behind current technologies. As someone who has used Debian/Ubuntu for almost 10 years, I can say I have no issues running software like sa-mp on them.

Debian/Ubuntu have later versions that do support newer standards, which a lot of plugins theses days take advantage of.

Could I ask

[2019-11-05 04:43] izrie1 commented on #34
I am using 2.0.0

[2019-11-05 07:26] ADRFranklin commented on #34
I would advise you to upgrade OS to something more later, if you can. If you unable to, You will need to compile it on Centos, yourself.

[2019-11-05 07:32] ADRFranklin commented on #34
Can't promise this will work, but you could try the instructions at the bottom of this page:
https://altlinux.pkgs.org/sisyphus/classic-i586/libstdc++6-9.2.1-alt1.i586.rpm.html

[2019-11-05 08:50] NexiusTailer opened #35 "Crashes with weapon-config on Windows"
I faced with some crashes on Windows server using weapon-config.

SKY & weapon-config version: latest as for 05.11.2019
Other dependencies used: foreach, crashdetect

Sample steps to reproduce the problem: Two players enter the server. The first player with id 0 jumps from some object to the ground taking damage from a fall, then the second player with id 1 does the same, so after that you should

[2019-11-05 10:14] OriginalNutter commented on #35
I have recently been suffering crashes on 0.3.DL on windows which wasn't an issue I found testing the builds before the new release.

It seems to crash when weapon-config sets a players health to >8000000, however players are able to spawn just fine. The issue can also be replicated by shooting another player.

The linux version is, however, working fine.

I have already sent a test gamemode that

[2019-11-06 03:27] ADRFranklin commented on #35
I am looking into it, from the discussions I had with Illidan he was actually able to work out that it had something to do with `RAKNET_GET_PLAYERID_FROM_INDEX_OFFSET`
which is why you see `Exception At Address: 0x042474FF Module: (Unknown)`

odd behavior, but hopefully we can find a solution to it.

[2019-11-08 06:44] ADRFranklin commented on #35
I have discovered the issue, seems now the sync data that is stored when it is frozen, returns some unexpected data, which is then being copied to the Receive hooks pointer. This is actually causing data to be returned incorrectly (SetPlayerHealth) which is crashing the server.

I am working on a fix right now, so should be fixed today.

[2019-11-08 10:42] ADRFranklin commented on #35
Could one of you try these?
This should fix both the crashes, and the issue with KEY_NO/KEY_YES being detected

[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/3824186/release-linux.tar.gz)
[release-windows.zip](https://github.com/oscar-broman/SKY/files/3824187/release-windows.zip)

[2019-11-08 13:22] NexiusTailer commented on #35
Unfortunately no, I keep receiving such crashes...

This time I didn't cut all my dependencies, so now there are: nex-ac, foreach, CRP (russian text in td/menus/gametexts fix plugin), streamer, pawn.raknet & crashdetect.

The logs:
[code]

[code]

[2019-11-08 13:23] ADRFranklin commented on #35
You are 100% sure, you are using the ones I gave you? Cause when testing I was also getting this issue, but managed to fix it, and now I am not getting this issue at all?

[2019-11-08 13:24] ADRFranklin commented on #35
it appears that this is not related to SKY, as the exception module is `Exception At Address: 0x63723491 Module: (streamer.DLL)` (streamer.DLL)

[2019-11-08 13:27] ADRFranklin commented on #35
If you could send me a MVR, of this so I could reproduce the issue, then I could hopefully solve it. But from that information, it doesn't seem like it's related to SKY

[2019-11-08 13:29] NexiusTailer commented on #35
Sure, just checked when you send a newer version.

As for relation to SKY. Ok, now I've disabled other dependencies again and test it with crashdetect, foreach, weapon-config and SKY only:

[code]

crashlog:
[code]

[2019-11-08 13:30] NexiusTailer commented on #35
As for minimal code on which you can reproduce it, ok, wait a minute while I pack some necessary files.

[2019-11-08 13:31] ADRFranklin commented on #35
Also when posting debug information, make sure you compile your script with debug flags.

[2019-11-08 13:32] NexiusTailer commented on #35
This wasn't done in any cases shared... I'll take note of this, thanks.

[2019-11-08 13:43] NexiusTailer commented on #35
So, here it is:
[Test.zip](https://github.com/oscar-broman/SKY/files/3824789/Test.zip)

This time a excluded all the previous dependencies and compiled it in -d3 mode, then tested it again. The result keeps the same, but this time you can find more detailed logs (I didn't post them separately again not to clog the comments here).

[2019-11-08 13:49] ADRFranklin commented on #35
What did you do to cause a crash? I am shooting myself, dying in a vehicle, setting my health to 0 and still no crash or issues yet?

[2019-11-08 13:54] ADRFranklin commented on #35
I literally can not get this to crash???

[2019-11-08 14:01] NexiusTailer commented on #35
First of all I have SAMP Addon to be able to double connect to a server from a few game windows (sandbox), but without having AFK in the window minimized with the first launched game while I player from the second game window. So thus I connect to the server as Player1, jump out from the spawn to the ground having some falling damage like 4 hp which I see in the weapon-config's damage feed. Ok, th

[2019-11-08 19:19] OriginalNutter commented on #35
Also crashing on windows on. I tested using two PCs connecting to the server. The first shot on the player is registered and then the server crashes. I will be testing the linux build very shortly.

[code]
[code]

[2019-11-08 19:38] OriginalNutter commented on #35
No crashes yet on Linux. I have tested KEY_NO, and damaging other players. I can spawn in the world just fine and vehicles are being created too.

However, a problem we discussed back in September is back in the latest build where players would disappear for a few milliseconds after taking damage.

Moreover, on the windows version, I had to move around after a vehicle was created on the server as

[2019-11-13 20:53] NexiusTailer commented on #35
Can I help with something, thereby giving a better understanding of the reasons for this behavior on windows server? I can assume that the main problem is that the you still doesn't have the ability to reproduce it locally so any debug version provided me for testing or other help from my side won't bother me.

[2019-11-13 22:42] ADRFranklin commented on #35
I found another issue, but I was aware on Business the last few days, so haven't been able to work on it. I got back tonight and I will take a look at the issue again tomorrow.

[2019-11-16 13:41] izrie1 commented on #34
How do I compile the plugin on CentOS? I'm new on this matter, usually I obtain by downloading the pre-compiled plugins.

[2019-11-16 13:41] izrie1 commented on #34
How do I compile the plugin on CentOS? I'm new on this matter, usually I obtain by downloading the pre-compiled plugins.

[2019-11-21 18:11] ADRFranklin commented on #35
I am trying to fix this, I have a rough idea of the problem, but all my attempts to solve it have failed so far. It's definitely related to memory corruption, but since the output gives random output which makes it very hard to narrow down the exact issue.

I am working on it, and hope to get it fixed by the end of the week.

[2019-11-22 20:16] ADRFranklin commented on #35
Could you guys try these? Hopefully this has fixed the issue I found on Windows.

[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/3881251/release-linux.tar.gz)
[release-windows.zip](https://github.com/oscar-broman/SKY/files/3881252/release-windows.zip)

[2019-11-23 02:27] OriginalNutter commented on #35
Both archives only have the version for linux.

I have briefly tested the linux version on 0.3.DL and found that keys Y & N are now being detected as a passenger in a vehicle. The issue where players would 'disappear' for half a second appears to have been resolved too.

I look forward into testing this on my live server this weekend.

[2019-11-23 02:30] ADRFranklin commented on #35
lol, stupid me. :D

Here you go, the windows version.
[release-windows.zip](https://github.com/oscar-broman/SKY/files/3882068/release-windows.zip)

[2019-11-23 03:36] ADRFranklin commented on #35
This has now been solved with the latest release.

[2019-11-23 03:36] #35 closed

[2019-11-23 04:05] ADRFranklin commented on #34
You can find the build instructions on the Readme now.

[2019-11-23 05:05] #34 closed

[2019-12-11 17:44] AliLogic opened #36 "weapon-config + SKY related crash"
Server crashes when SpawnPlayerForWorld is called by weapon-config.  Here's the backtrace log.
 Willing to provide more information.

[code]

[2019-12-11 17:45] ADRFranklin commented on #36
Update to the latest version please. This has been fixed.

[2019-12-11 19:15] AliLogic commented on #36
Already running the latest update of both, weapon config and SKY.

[2019-12-11 21:56] ADRFranklin commented on #36
Which version are you on? 0.3.7 or 0.3.DL?

[2019-12-11 22:03] ADRFranklin commented on #36
I've just tested with both versions and haven't noticed any problems for Windows, are you using Linux by any chance?

[2019-12-12 08:29] AliLogic commented on #36
I don't know.  I only can run and test on Linux.  If it helps, I can send you the testing server Ip over private messages somewhere?

I also would be grateful if you can fix the AppVeyor builds to the current repo, they are currently linked to Whitetiger's repo.

[2019-12-12 08:31] ADRFranklin commented on #36
you would need to speak to Whitetiger for them, I personally never set it up and I haven't used it.

[2019-12-12 08:35] ADRFranklin commented on #36
You have discord right? Fancy adding me so we can discuss this better?
`JustMichael#7884`

[2019-12-12 11:27] AliLogic commented on #36
Thanks.  Resolved.

[2019-12-12 11:27] #36 closed

[2019-12-18 18:10] NexiusTailer commented on #31
Could I somehow help with the test of any drafts or in another way?

[2019-12-18 19:01] ADRFranklin commented on #31
Ah, Sorry this got pushed aside while I was fixing a bug, was took priority. I will get back to this over the next few days.

I will most likely be implementing new natives for this, and deprecate the old ones

[2019-12-22 22:22] ADRFranklin commented on #31
@NexiusTailer You going to be free tomorrow to test this? I've almost finished with it. I've also fixed a few issues I found where Additional Keys where not being sent when `SendLastSyncData` was used. The new native is called `SendLastSyncPacket` and does contain a type of packet to use.

Hopefully this will be more useful now.

[2019-12-22 22:33] NexiusTailer commented on #31
Think yes, I'll try to go test as you request it. Thank you

[2019-12-23 00:27] ADRFranklin commented on #31
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/3993186/release-linux.tar.gz)
[release-windows.zip](https://github.com/oscar-broman/SKY/files/3993187/release-windows.zip)

@NexiusTailer
Here you go, hope this works first time, wouldn't that be nice :D

[2019-12-23 16:48] ADRFranklin commented on #31
@NexiusTailer have you had time to test it?

[2019-12-23 17:41] NexiusTailer commented on #31
Yeah, I just started testing it. Currently I have one little suggestion to make the function work also for spectating data as it is also the part of original OnPlayerUpdate.

Anyway I'll continue to test it, thanks for nice update :)

P.s. At the time I have an ability to test it only on windows server, so I didn't test the linux version yet...

[2019-12-23 17:56] ADRFranklin commented on #31
I'm not sure as to what you are expecting for Spectating, as that's an RPC and not really part of the packet hooks that we are currently using to store and send previous sync data.

I'm glad you are happy with the update, and it should work on Linux if it works on Windows.

[2019-12-23 18:01] NexiusTailer commented on #31
Spectating sync ins't documented on both BrunoBM16's and Pawn.Raknet's wikis but it declared in Pawn.Raknet include file as
[code]
And have packet ID 212

[2019-12-23 18:19] ADRFranklin commented on #31
I will add support for this, I still need to know if the plugin is working as expected for you. At least than I am okay to move forward.

This shouldn't be too hard to implement, looking at the struct itself, it's simple. I've just had a thought. There might be an issue with Freezing data, since it doesn't freeze one one packet, it freezes them all. I will add a fix for that now, which means depre

[2019-12-23 18:58] NexiusTailer commented on #31
Well, currently there are the following things:
1. Make similar native also for FreezeSyncData as well as SendLastSyncData
2. Fix a little typo mistake in SKY.inc at this line "If a**n** type is specified it will sync that packet only"  :)

[2019-12-23 19:23] ADRFranklin commented on #31
Thanks, I have fixed those issues. I have also added the Spectate sync for both Freeze and LastSend.

Could you test these to make sure everything is okay :)
[release-windows.zip](https://github.com/oscar-broman/SKY/files/3996003/release-windows.zip)
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/3996004/release-linux.tar.gz)

It's annoying Github won't met me upload .inc files,

[2019-12-23 19:46] NexiusTailer commented on #31
Seems like it's the old plugin version
[code]

[2019-12-23 19:50] ADRFranklin commented on #31
Errm, this is working for me just fine? Are you sure you have updated the plugin?

[2019-12-23 20:10] NexiusTailer commented on #31
Sorry, it was my mistake because of mess up with YSF/SKY typed in the server.cfg, so that's loads fine. But despite this there are some problems with FreezeSyncPacket: if I freeze the player and apply for him
[code]
or such way
[code]
The frozen player who is onfoot at the moment keeps moving around but without any animations (it fells like this player just slides on the ground)

[2019-12-23 20:22] ADRFranklin commented on #31
I'm not entirely sure what causes that issue 😕

[2019-12-23 20:23] ADRFranklin commented on #31
wait, so the issue is when frozen animations are not applied, is that the only issue?

[2019-12-23 20:50] ADRFranklin commented on #31
[release-windows.zip](https://github.com/oscar-broman/SKY/files/3996259/release-windows.zip)
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/3996260/release-linux.tar.gz)

@NexiusTailer Tell me if this fixes the animation syncing issue

[2019-12-23 20:58] NexiusTailer commented on #31
Made some video to show how it looks like (sorry for 640x480, it is just for the fastest rendering):
https://imgur.com/qsJhccd

As for it, I'll retest it now and check if the problem was fixed.

[2019-12-23 21:07] NexiusTailer commented on #31
Hm, the problem still occurs, unfortunately...

[2019-12-23 21:08] ADRFranklin commented on #31
Does the issue occur when using the old native?

[2019-12-23 21:21] NexiusTailer commented on #31
So strange, but yes, it occurs also with FreezeSyncData and at the same time the problem remains on the previous SKY versions from the release section (v2.1.1). As far as I remember I tested it about 3-5 months ago and it worked well, despite the fact the player didn't be resynced when he changed his sync type (get veh or something like that).

[2019-12-23 22:04] ADRFranklin commented on #31
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/3996432/release-linux.tar.gz)
[release-windows.zip](https://github.com/oscar-broman/SKY/files/3996433/release-windows.zip)

I might have found the issue, hopefully 🤞

[2019-12-23 22:34] ADRFranklin commented on #31
@NexiusTailer any luck yet?

[2019-12-23 22:39] NexiusTailer commented on #31
The problem still remains for now

[2019-12-23 22:40] ADRFranklin commented on #31
I don't know what is causing it, I checked both the PacketList and Pawn.Raknet to see if I have missed anything, and I haven't it all adds up. :(

[2019-12-23 22:42] NexiusTailer commented on #31
I’ll try to check the old releases of the plugin to find out how long and with what version the problems started. Perhaps this will reduce the problem search area.

[2019-12-23 22:43] ADRFranklin commented on #31
Yeah, that would be helpful thanks.

[2019-12-25 14:52] NexiusTailer commented on #31
So finally I found from which version the problem starts: v2.0.0. When I tested it on 1.1.0, there was no problem with the function, but it just stopped working from the next update.

[2019-12-26 23:49] InterSstellar opened #38 "Compile Error - Windows 10 - visual studio 16 2019 - Cmake 3.16.2"
Hi, i have some issue with compiling.

i use visual studio community 16 2019 and Cmake 3.16.2.

While I'm Building Only thing that can not be found is alloca.h, but anyways it says Generating done.

But when i use "cmake --build . --config Release" i get a huge number of errors.

This is what Errors say, i put them in a .txt file
[Errors.txt](https://github.com/oscar-broman/SKY/files/4003653/Error

[2019-12-26 23:51] ADRFranklin commented on #38
The plugin is statically built, why are you trying to build it? Use the release section.

[2019-12-27 00:54] ADRFranklin commented on #31
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/4003726/release-linux.tar.gz)
[release-windows.zip](https://github.com/oscar-broman/SKY/files/4003727/release-windows.zip)

There is literally minimal difference between the 1.1 release and any releases after that with FrozenSync, so the only change that was made was the positioning of a certain check that was moved above.

If this f

[2019-12-27 09:48] NexiusTailer commented on #31
No, this doesn't help. While I was thinking about it I tested it both on 0.3.7-R2-1-1 server version and [0.3.7-R3](https://forum.sa-mp.com/showpost.php?p=4094602&postcount=55), but the result as in previous cases...

[2019-12-27 15:20] InterSstellar commented on #38
Oh My God!!!!
I did not know there is a Section called release!!!
Im New to Git Hub And Programing :D

you saved me a lot of time Thank You very Much <3 <3 <3

And Sorry For My Bad English :D

[2019-12-27 15:20] #38 closed

[2019-12-27 17:44] ADRFranklin commented on #31
I'm not sure that helps us solve this :( Have you tried 0.3.DL? is it possible it's an issue with the 0.3.7 structs? or is the same issue appearing there too?

[2019-12-28 02:33] ADRFranklin commented on #31
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/4006630/release-linux.tar.gz)
[release-windows.zip](https://github.com/oscar-broman/SKY/files/4006631/release-windows.zip)

Okay I think I found the issue, thanks to Y_Less pointing a very important mistake. So hopefully this is all done now.

[2019-12-28 11:34] NexiusTailer commented on #31
Yeah, that's finally okay. Thank you!

[2019-12-28 11:43] NexiusTailer commented on #31
And I have another idea: maybe it would be wise to add to this enum:
[code]
Another, the last type `E_ANY_SYNC` or something like this to be able to freeze the player sync from exactly that packet which he sent before this function applied (so that the player couldn't change his sync type while his sync frozen and, for example, being "frozen-synced" onfoot and getting info a car after it will not

[2019-12-28 19:21] ADRFranklin commented on #31
[release-windows.zip](https://github.com/oscar-broman/SKY/files/4007351/release-windows.zip)
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/4007352/release-linux.tar.gz)
[SKY.inc.zip](https://github.com/oscar-broman/SKY/files/4007353/SKY.inc.zip)

Okay, I have added the ability to use `E_ANY_SYNC` which will freeze/re-send the last sync that came through.

[2019-12-28 20:10] ADRFranklin commented on #31
Can you test it to make sure everything is good and report back? If all is good I will make a new release for it.

[2019-12-28 22:11] NexiusTailer commented on #31
So after the test I found that the previous problem started to occur again: player moves around even his sync is frozen using E_ANY_SYNC.

[2019-12-28 22:12] ADRFranklin commented on #31
@NexiusTailer Can you try the latest release?

[2019-12-28 22:15] NexiusTailer commented on #31
I have tried this release.

[2019-12-28 22:16] ADRFranklin commented on #31
Oh, errm. Okay. How is that possible?
Does it only happen with `E_ANY_SYNC ` ?

[2019-12-28 22:17] ADRFranklin commented on #31
@NexiusTailer LOL, I forgot to tell you I changed `E_ANY_SYNC` to `E_LAST_SYNC` :D

[2019-12-28 22:26] NexiusTailer commented on #31
Yeah, the problem occurs for `E_ANY_SYNC` only and there were no such cases for `E_PLAYER_SYNC` as I tested it just now.

But I still have `E_ANY_SYNC` in SKY.inc in this enum, so I suppose this enum element should be passed to the plugin as a regular int number, isn't it?

[2019-12-28 22:33] ADRFranklin commented on #31
@NexiusTailer How are you using it? Like are you still toggling it?

[2019-12-28 22:35] NexiusTailer commented on #31
Just this way for freezing:
[code]
and this for unfreezing:
[code]

[2019-12-28 22:39] ADRFranklin commented on #31
[release-windows.zip](https://github.com/oscar-broman/SKY/files/4007531/release-windows.zip)
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/4007532/release-linux.tar.gz)

does this make any difference? I'm wondering if the conversation was not correct.

[2019-12-29 08:24] nickdodd25 commented on #36
Was this issue fixed in the latest version? I have also found this issue with returning 0 under onplayerdamage when a knife slit is happening. Temporarily solved it by downgrading.

[2019-12-29 08:28] ADRFranklin commented on #36
As far as I am aware, that issue was fixed, The cause was an issue with MXE/MinGW building for Windows. But I moved away from that and to building SKY for Windows using CMake and VS Build Engine.

If you fancy trying the latest release, you could confirm this for us. Hopefully the issue is fixed, I haven't had any reports of it since the last 2 releases.

[2019-12-29 11:27] elvianod982 opened #39 "2.2.0 - Causes crash"
SKY 2.2.0 causes my gamemode to crash. 2.1.1 is fine.

It seems to happen when weapon shots are fired.

Is this a known issue?

[2019-12-29 11:46] elvianod982 commented on #39
Here is a crash log: https://pastebin.com/raw/gbcqk9kU

[2019-12-29 12:17] ADRFranklin commented on #39
Ah, it seems I accidentally pushed more than I wanted too. Should be a simple fix.

[2019-12-29 12:41] ADRFranklin commented on #39
@elvianod982 Please use 2.2.1 Release

[2019-12-29 12:52] elvianod982 commented on #39
That fixed it, thanks.

[2019-12-29 12:52] #39 closed

[2019-12-29 13:12] elvianod982 opened #40 "Players vanish when shot - SKY 2.2.1"
Since updating from SKY 2.1.1 to SKY 2.2.0 (or well, the crash fix version - 2.2.1) players on my server randomly disappear whilst being shot at. This has been confirmed with multiple players, even staff, so I'm confident that it's a SKY bug rather than a hacker. I'm also confident it was introduced with SKY 2.2.x as this has never happened with 2.1.x.

I have captured a recording to demonstrate t

[2019-12-29 18:51] NexiusTailer commented on #31
The problem still remains :(

[2019-12-29 20:37] ADRFranklin commented on #40
I am unable to re-create this? Could you make a minimal reproducible example script that shows this problem?

[2019-12-29 20:56] elvianod982 commented on #40
Thanks for your prompt response.

Sadly, it isn't one of those things that is reproducible on the first try. It took a few minutes for me to re-create it on my own server. I can't really give any script examples since my server is very basic and weapon-config is at the core of it. I have no custom weapon-config/sky code; it's all stock.

If you would be open to compiling a Linux release of 2.1.1 f

[2019-12-29 22:41] ADRFranklin commented on #40
[release-windows.zip](https://github.com/oscar-broman/SKY/files/4008649/release-windows.zip)
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/4008650/release-linux.tar.gz)

Any chance you could try this for me, and see if it makes any difference?

[2019-12-29 22:51] ADRFranklin commented on #40
I'm probably going to write my own libraries for a clean Raknet/CNetGame interface. Because both SKY/YSF use a old style and it's not very safe to use.

[2019-12-30 12:58] NexiusTailer commented on #31
So I've noticed you released a new version v2.2.1 and I just tested it. There is no such problem like with previous posted .DLLs here any more (the player stay on the same place for other when he sync frozen even with E_LAST_SYNC mode), but this type (E_LAST_SYNC) now works like any other type, e. g. when I do `FreezeSyncPacket(playerid, E_LAST_SYNC, true);` on an player who is onfoot all is ok, b

[2019-12-30 13:01] ADRFranklin commented on #31
I don't really understand what you meant? You said it freezes them correctly, but then you said it doesn't freeze them when they enter a vehicle, but if you freeze a player, you must unfreeze them for them to enter a vehicle, so that doesn't make sense as to what the problem is?

[2019-12-30 14:00] NexiusTailer commented on #31
The first message was about testing this files (.dll):

and .inc file from here (as it was the latest .inc file shared):

And in that case when I test it, `E_ANY_SYNC` (last shared SKY.inc have exactly this type name in enum) wasn't work at all as the frozen-synced player has an ability to move for others like he move for himself.

The second message was about this files (.dll):
https://github.com

[2019-12-30 14:03] ADRFranklin commented on #31
[code]

This is how I purposely coded it, this is what you explained to me you wanted, so this is what I gave you?

[2019-12-30 14:11] NexiusTailer commented on #31
Then, it seems, I didn't express myself very clearly, sorry about it :)
I just thought that it would be possible to block all types of synchronization at once with one option.

Just made sure any other functions like real freezing have nothing to do with it. So as for `E_LAST_SYNC` I thought it's an option not for freezing only one type of sync the player holds now.

[2019-12-30 14:13] ADRFranklin commented on #31
So you want a way to freeze all current/future syncs for a player?

[2019-12-30 14:16] ADRFranklin commented on #40
@elvianod982 Any news from this?

[2019-12-30 14:26] NexiusTailer commented on #31
Yeah, now I (finally lol) understood that I gave one suggestion and got nice but different feature. And yeah, it would be very nice if you implement something like that I mentioned.

Btw, `E_LAST_SYNC` is still useful as it can be an easy solution for weapon-config which used an old FreezeSyncData without getting the player state. Now it can be update for a new native without any problem.

[2019-12-30 14:45] elvianod982 commented on #40
I just tried out the release-linux.tar.gz that you provided, but the results are the same unfortunately.

Recording: https://streamable.com/tjwdc

You will see I was dueling the player, and 5 seconds in, they disappeared.

[2019-12-30 14:47] ADRFranklin commented on #40
I am unable to reproduce this issue? Any more information you can give me?
Can you confirm the version you are using?

[2019-12-30 14:51] elvianod982 commented on #40
It takes a few minutes of gameplay sometimes and there seems to be no rhyme nor reason as to what causes it. It doesn't happen with every single player all the time.

I am using the release-linux.tar.gz version that you uploaded to this issue 16 hours ago. The server runs 0.3.7-R2, and CentOS 8.

Would you mind providing a Linux version of SKY 2.1.1 but with the patch for **Fixed a bug, where free

[2019-12-30 14:52] ADRFranklin commented on #40
The one I posted has that fix already, that is already in the last 2 releases too.

[2019-12-30 15:05] elvianod982 commented on #40
I apologize, it might be that I am not explaining properly.

The one you posted seems to be the 2.2.x release, which has the player vanishing problem highlighted in this issue. I can't use any version of SKY 2.2.x as it stands for that reason.

Per https://github.com/oscar-broman/SKY/releases, 2.2.0 is the version that has the "freezing a players sync" fix. Can you provide me with a Linux version

[2019-12-30 15:12] ADRFranklin commented on #40
I don't think the issue is to do with SKY in this case, I have been testing this for about 30 minutes now, on both a local and remote server. I have tried with 3 different people and have no had any luck reproducing this bug.

Until more evidence comes along which can prove the issue to be related to SKY, I can't really do anything about your issue.

[2019-12-30 15:14] elvianod982 commented on #40
Understood.

Could you tell me exactly which commit addressed the "Fixed a bug, where freezing a players sync, would not work correctly, and you would see them sliding across the floor while dead" issue? I will compile 2.1.1 but with that particular fix. That's all I need and then I should be good to go.

[2019-12-30 15:19] ADRFranklin commented on #40
https://github.com/oscar-broman/SKY/commit/a0606e5c01a317255764edde2a5e0856ca2f8c4d
that is the commit, that fixes the syncing bug

[2019-12-30 15:19] #40 closed

[2019-12-31 15:47] bigheada opened #41 "Hided player"
Hi,
I have problem with last releases version. I uses weapon-config include and after I hit some player, then is this player hidden ( after the player used ESC, is again visible ). If i uses older version SKY ( about 1-2 years old version ) its works.
- weapon-config.inc last version

Where the problem could be?

[2019-12-31 15:48] ADRFranklin commented on #41
3 people have reported this issue to me, but none so far have given me enough information to really find the issue.

[2019-12-31 15:53] ADRFranklin commented on #41
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/4013010/release-linux.tar.gz)
[release-windows.zip](https://github.com/oscar-broman/SKY/files/4013011/release-windows.zip)

Would you be willing to try this for me? It's a small change in the way it's built

[2019-12-31 15:57] bigheada commented on #41
ok, I will test

[2019-12-31 16:11] bigheada commented on #41
same problem...i tried command for re-warping my position but i was still hided for other player, after i go to the windows and back i was visible. Meybe i will try debug where in the weapon config is problem and if I find anything, i will write ?

[2019-12-31 16:19] ADRFranklin commented on #41
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/4013059/release-linux.tar.gz)
[release-windows.zip](https://github.com/oscar-broman/SKY/files/4013060/release-windows.zip)

Okay this is all I can think of right now, if this works cool. But if it doesn't I'm going to need some time to fix it.

[2019-12-31 17:18] bigheada commented on #41
now it works correct

[2019-12-31 17:18] ADRFranklin commented on #41
Brilliant, so I found the issue. Thanks :)

[2019-12-31 17:22] ADRFranklin commented on #40
@elvianod982

[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/4013181/release-linux.tar.gz)
[release-windows.zip](https://github.com/oscar-broman/SKY/files/4013182/release-windows.zip)

Can you confirm that this fixes the problem for you?

[2019-12-31 17:27] #41 closed

[2020-01-05 07:56] d3Pedro opened #42 "SpawnPlayerForWorld crashes the server."
[code]

[2020-01-05 11:12] ADRFranklin commented on #42
What version is printed out on load? Please post that.

[2020-01-05 13:51] ADRFranklin commented on #42
You should see something like this?

[code]

If you don't see this, or the version is not the same as the one posted above, then you are not using the latest version.

[2020-01-05 14:41] d3Pedro commented on #42
Seems like it's a little bit messed up. Okay so I did a redo, I deleted the plugin and includes and added the latest ones, now it doesn't even let me compile the script. I mean, it does but a bunch of warnings pop up from weapon config.

I do get the output you stated above.
Here's the warnings I get when attempting to compile the script with latest includes;
[code]

[2020-01-05 14:56] ADRFranklin commented on #42
Ignore the warnings, they are not important right now. They are just to warn people who are using SKY without weapon-config that those natives will be removed in the future.

[2020-01-05 15:15] ADRFranklin commented on #42
@d3Pedro I've just updated weapon-config to no longer use deprecated natives, so you should be able to now use it without the deprecated warnings. (Please re-download it)

[2020-01-05 15:18] d3Pedro commented on #42
Thank you.

[2020-01-05 16:23] ADRFranklin commented on #42
@d3Pedro Can you confirm to me this issue is resolved now you have updated to the latest version?

[2020-01-07 12:05] d3Pedro commented on #42
It's been 24 hours since the update I did and everything seems to be running fine. It doesn't crash anymore, ugh, I'd say I get a little bit sync issues like player getting banned when they die or when they are spectating, I actually don't know if it has to do with the plugin or with the way I've coded it.

Anyway the issue what I was on about is already solved, thanks a lot, appreciate your work!

[2020-01-07 14:17] #42 closed

[2020-01-17 09:28] NexiusTailer commented on #31
Sorry for the possible annoyance, but could you share some information when this addition will be available for testing? :)

[2020-01-18 11:32] ADRFranklin commented on #31
Hi, sorry I have been a little busy with other projects, I will find time over the next few days to finally sort this.

[2020-01-18 11:48] ADRFranklin commented on #31
[release-windows.zip](https://github.com/oscar-broman/SKY/files/4080554/release-windows.zip)
[release-linux.tar.gz](https://github.com/oscar-broman/SKY/files/4080555/release-linux.tar.gz)
[SKY.inc.zip](https://github.com/oscar-broman/SKY/files/4080557/SKY.inc.zip)

Try this, got a few minutes didn't take long.

[2020-01-18 14:03] NexiusTailer commented on #31
Thanks, seems to work for me on windows server.

[2020-01-20 22:29] #31 closed

[2020-02-02 16:05] realhus opened #43 "Packet was modified.."
Hello.
After i started using SKY i started getting packet was modied by... msgs in the logs. Then suddenly everyone timesout.
Im using the last version!

[2020-02-02 16:19] ADRFranklin commented on #43
That doesn't have any thing to do with SKY, packet modified is fine, it just means the client send half a packet or they experienced packet loss and didn't send the full packet.

In the rare cases it means the player might be trying to send invalid packets, but rarely does this have any effect on the server.

[2020-02-02 16:21] realhus opened #44 "[Suggestion] implement AttachPlayerObjectToOvject"
It might be a silly request but AttachPlayerObjectToObject is the reason that alot of server owners use YSF . And its essential for some functions in streamer plugin. I saw that SKY plugin share some YSF features... such as textdraw position. Why not to add this function too.. it would be really helpfull.. i dont want to use YSF in addition to SKY just for one additional function.. thanks

[2020-02-02 16:24] ADRFranklin commented on #43
As for the timing out issue, you would need to post more information about this, I have used SKY in all of my servers (that is 3 sa-mp servers) for the the last 4/5 years and I currently have no faced any issues with people timing out.

So please post more information about your setup, what configuration you have used, maybe a video or logs about the incident.

I will try to investigate the issue,

[2020-02-02 16:25] ADRFranklin commented on #44
SKY was original designed to work specifically with `weapon-config` so the textdraw natives, where used for the custom healthbar.

SKY is not supposed to be another YSF, and instead just offers more functionality to handle players syncing. You can use YSF/SKY together, so if you want to use that and SKY there should be no issues with it.

[2020-02-03 11:17] elvianod982 commented on #43
@realhus - the mass timing out is a known issue when using using Linux distributions such as CentOS 8, Debian 10, Ubuntu 18.04. Are you using one of those? If so, consider using CentOS 7 or Debian 8. Both of those are fine.

[2020-02-03 11:37] realhus commented on #43
Yes im using ubuntu 18.04.3.

[2020-02-03 12:11] #44 closed

[2020-02-03 12:15] ADRFranklin commented on #43
18.04.3 ships with Kernel 5, which is perfectly fine. It does not contain the broken networking that was with Kernel 4.9 - 4.18/19

Your timing out issue could be the result of your own code, if a function takes a long time to respond and it halts the script, players will timeout since no data will be sent back for them.

Every Server/Client has a timeout number set, which tells the client if you

[2020-02-03 12:36] realhus commented on #43
Mine doesnt come with kernel 5.
Well. You can close this issue. Ill try to provide more details if the problem isnt solved
Thanks

[2020-02-03 12:37] #43 closed

[2020-02-24 20:09] InterSstellar opened #45 "Multi Thread Plugin"
Hi. Can You Release A Multi Thread Plugin With Good Natives And Callbacks. It Will Be Soooooo Handy.

Im Running a Cops and robbers server and every time a cop presses mouse3 i have to find the nearest player and cuff him. so i have to loop throw all players and check the distance between players an it takes a lot for server and if there are some players fighting each other they all will lag for a

[2020-02-24 20:16] ADRFranklin commented on #45
You can use plugins like PawnPlus for exactly this reason, this issue is not related to SKY in any way, and is not something that should be looked into.

PawnPlus: https://github.com/IllidanS4/PawnPlus

Please do not make issues about topics that do not relate to the repo at hand.

[2020-02-25 12:43] InterSstellar commented on #45
I'm newbie and i don't know how to communicate with you because of that i post a issue :(((((
And Thank You Very Much for your good response <3

[2020-02-25 12:43] #45 closed

[2020-03-29 15:14] SaboT94 opened #46 "Knife kill / Dying in exploding vehicle"
Hello,

So i have few issues, i put weapon include and SKY , working on last updates on my server,
i have few questions/issues.

When someone kills with knife, OnPlayerDeath is not called, kill is not counting.

And for second, usually you sit in burning vehicle, vehicle explode, you get out of vehicle and dye, now with include and plugin, right after explode you get respawned, sometimes player ge

[2020-03-30 13:41] ADRFranklin commented on #46
This isn't a SKY related issue. This is a weapon-config issue. I would instead report the issue there to be fixed.

[2020-04-05 04:22] #46 closed

[2020-06-06 11:05] ognjenlaaza opened #47 "Updated but on server log its says 2.2.2 version"
i've updated plugin to 2.3.0 but in server.log it again 2.2.2?

[2020-06-06 16:42] ADRFranklin commented on #47
That is my fault then for using the releases before updating the version of the plugin. I can always re-build and re-release with the correct version.

[2020-07-20 10:55] #47 closed

[2021-01-12 14:34] nex693 opened #48 "update"
Can you send the SKY.DLL Update?

[2021-01-12 14:35] ADRFranklin commented on #48
No, you can check the releases page, like everyone else.

[2021-01-12 14:37] #48 closed

[2021-01-12 14:38] nex693 commented on #48
I could not find. Current link.

[2021-01-12 14:41] ADRFranklin commented on #48
https://github.com/oscar-broman/SKY/releases

it's literally on the repo's main page

[2021-01-12 14:42] nex693 commented on #48
thank you so much

[2021-02-07 12:22] Diablosrouge opened #49 "Corpse collision"
Hello,

After a player dies, his corpse stays in the floor for a while, but it has collision and limits player movement. Is there any way to disable this collision?

Best Regards,
Diablosrouge

[2021-03-21 13:48] ADRFranklin commented on #49
Unfortunately it's not possible to achieve this without client side modifications, which is something we will not be doing.

[2021-04-02 11:50] #49 closed

[2021-04-02 14:13] Diablosrouge commented on #49
Thank you for the reply :)

[2021-07-23 17:10] RodrigoMSR opened #50 "SetPlayerTeamForPlayer"
It would be really nice to have this function in the plugin, it would be useful for a damage system I have, the function would just send an RPC.

[code]

It would help me a lot, sorry if this seems useless...

[2021-07-23 18:32] ADRFranklin commented on #50
errm What? I don't understand what the point of this is?

[2021-07-24 01:37] RodrigoMSR commented on #50
In a server-side damage system, players can typically destroy allied vehicles with grenade, bazooka, heavy vehicles and drive-by.

To solve this, I put all players on the same team and disable vehicle damage between allies. When a player enters a vehicle, he will see all others that are not on the same team as enemies (NO_TEAM), making it possible for him to take damage normally from them.

[code]

[2021-07-24 01:37] #50 closed

[2021-12-10 06:53] wearLyS opened #52 "tag mismatch: expected tag "bool", but found none ("_")"
When updating the plugin I received the following error in the code:

[code]

[2021-12-10 12:21] ADRFranklin commented on #52
This issue is not related to SKY in anyway, this is a weapon-config issue and you can find the issue here: https://github.com/oscar-broman/samp-weapon-config/issues/218

[2021-12-10 12:21] #52 closed

[2021-12-13 18:02] punkochel opened #53 "OnPlayerUpdate stops being called"
At calling ShowPlayerDialog, stops working OnPlayerUpdate, but when closed window dialog everything works as it should.

[2021-12-13 18:06] ADRFranklin commented on #53
What makes you think that is related to SKY exactly? We don't really do anything with dialogs. So this is probably more related to weapon-config then SKY

[2021-12-14 04:18] punkochel commented on #53
And indeed, now started checking and it turned out that the problem is fixes.inc. I dont's know why I decided what it is SKY. Sorry.

And Indeed, now I started checking and it turned out that the problem is in fixes.inc. I don’t know why I decided earlier that it was SKY. Sorry.

[2021-12-14 16:28] #53 closed

[2022-04-21 03:58] Abyss-z94 opened #54 "Support for OMP"
Could you do a version that support omp server beta just released? That would be amazing

[2022-04-21 04:32] ADRFranklin commented on #54
already being worked on

[2022-05-10 20:05] Zorono opened #57 "..."
[code]

- gcc version 11.2.0 (Ubuntu 11.2.0-19ubuntu1)

[2022-05-11 01:30] ADRFranklin commented on #57
I'm using gcc 11.2 and it compiles just fine for me.

[2022-05-11 22:59] Zorono commented on #57
I am confused... can you suggest to me some workarounds to find what is causing this errors ??

[2022-05-12 08:41] ADRFranklin commented on #57
Well I don't know why you are continuing to build it? There are already built versions for sa-mp. You can't currently build the open.mp one, so I'm not sure exactly why you are doing this?

[2022-05-12 21:39] Zorono commented on #57
i am just trying to reveal the issue which is causing those errors for future compilations...

[2022-05-21 10:48] xPaulFTW opened #58 "Is not working on open.mp"
Hi. The SKY plugin doesn't works on open.mp because it use memory hacking.

[2022-05-21 13:33] ADRFranklin commented on #58
https://github.com/oscar-broman/SKY/tree/omp

it's already being worked on, we are waiting for stuff from open.mp to continue

[2022-05-21 13:35] #58 closed

[2022-05-21 13:36] ADRFranklin commented on #57
This seems more of an issue with your setup, as many others are perfectly able to compile it with no issues.

[2022-05-28 18:13] Maco1800 commented on #54
@ADRFranklin is it finished?

[2022-06-04 02:50] PazzOnee commented on #54
if you see it is avalivable for download, than yes

[2022-06-04 03:37] Maco1800 commented on #54
@PazzOnee
Thank you information. I didn't knew that.

[2022-06-04 03:39] PazzOnee commented on #54
@Maco1800 I noticed that

[2022-06-04 03:41] Maco1800 commented on #54
Good observation 👍

[2022-06-04 20:46] cagatayzcn commented on #54
I wish you complate upgrade to mod. Have a good job!

[2022-06-12 22:19] Maco1800 commented on #54
https://discord.com/channels/231799104731217931/966398440051445790/984187473657741382

[2022-10-02 09:33] devbluen opened #59 "GetPacketID failed crash server"
After a few days the sky server crashed the server and the console returns this error.
Information:
- I'm using linux, ubuntu 20

![Screenshot_1](https://user-images.githubusercontent.com/97349115/193447622-3ff1aa19-ca63-482e-8efb-b9a935162235.png)

[2022-10-05 03:04] ADRFranklin commented on #59
What version of samp are you trying to run it with?

[2022-10-16 15:15] igdiogo commented on #59
0.3.7-R2